## Data Cleaning

### Importing libraries

In [79]:
import pandas as pd
import numpy as np 
import re

### Data extraction

In [80]:
# Load the csv data
tv_data = pd.read_csv("kilimall_tvs_no_rating.csv")

# preview the data
tv_data.head()

,product_name,product_reviews,product_price
0,Vitron 32 Inch Frameless Smart TV HD Netflix T...,(1347),"KSh 11,199"
1,Vitron 32 inch Frameless Television HTC 3218 L...,(710),"KSh 11,099"
2,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,(1142),"KSh 18,499"
3,"VITRON BLUETOOTH-ENABLED 32"" INCH HTC3200S,FRA...",(947),"KSh 13,978"
4,"VITRON 32"" Inch DIGITAL TELEVISION FRAMELESS H...",(243),"KSh 12,998"

In [81]:
# the product name includes emojis, that need to be edited out before cleaning

# Function to remove emojis and special characters
def remove_emojis(text):
    return re.sub(r"[^\w\s,.-]", "", text)

# Apply the function to the "product_name" column
tv_data["clean_product_name"] = tv_data["product_name"].apply(remove_emojis)

# Save the "clean_product_name" column to a CSV file
#tv_data[["clean_product_name"]].to_csv("no_emojis_tv_product_names.csv", index=False)

tv_data.head()

,product_name,product_reviews,product_price,clean_product_name
0,Vitron 32 Inch Frameless Smart TV HD Netflix T...,(1347),"KSh 11,199",Vitron 32 Inch Frameless Smart TV HD Netflix T...
1,Vitron 32 inch Frameless Television HTC 3218 L...,(710),"KSh 11,099",Vitron 32 inch Frameless Television HTC 3218 L...
2,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,(1142),"KSh 18,499",Vitron 43 inch Smart TV HTC 4388FS Android Tel...
3,"VITRON BLUETOOTH-ENABLED 32"" INCH HTC3200S,FRA...",(947),"KSh 13,978","VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM..."
4,"VITRON 32"" Inch DIGITAL TELEVISION FRAMELESS H...",(243),"KSh 12,998",VITRON 32 Inch DIGITAL TELEVISION FRAMELESS HT...

The regex pattern [^\w\s,.-] matches anything that is not a word character (\w), whitespace (\s), comma (,), period (.), or hyphen (-). This helps remove emojis and special characters while keeping alphanumeric characters and common punctuation.

### Method 1: Extracting Brand, Size and Description

In [82]:
# data extraction logic
def extract_data(tv_data_column):
    # extract the brand name
    brand = tv_data_column.split(" ")[0]

    # Escape the brand for use in the regex
    escaped_brand = re.escape(brand)

    # extract size(e.g. 32 inch)
    size_match = re.search(r"(\d+)\s*inch", tv_data_column, re.IGNORECASE)
    size = size_match.group(1) if size_match else None

    # remove the brand and size from the product name
    description = re.sub(rf"{escaped_brand}|(\d+\s*inch)", "", tv_data_column, flags=re.IGNORECASE).strip()

    return brand, size, description

In [83]:
# apply the extraction logic to the product name column

tv_data[["brand", "size", "description"]] = tv_data["clean_product_name"].apply(
    lambda x: pd.Series(extract_data(x))
    )

# Save the updated dataset
#tv_data.to_csv("tv_data_extracted.csv", index=False)

tv_data.head()

,product_name,product_reviews,product_price,clean_product_name,brand,size,description
0,Vitron 32 Inch Frameless Smart TV HD Netflix T...,(1347),"KSh 11,199",Vitron 32 Inch Frameless Smart TV HD Netflix T...,Vitron,32,Frameless Smart TV HD Netflix TV HTC3200S Yout...
1,Vitron 32 inch Frameless Television HTC 3218 L...,(710),"KSh 11,099",Vitron 32 inch Frameless Television HTC 3218 L...,Vitron,32,Frameless Television HTC 3218 LED Digital TV D...
2,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,(1142),"KSh 18,499",Vitron 43 inch Smart TV HTC 4388FS Android Tel...,Vitron,43,Smart TV HTC 4388FS Android Television Full HD...
3,"VITRON BLUETOOTH-ENABLED 32"" INCH HTC3200S,FRA...",(947),"KSh 13,978","VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM...",VITRON,32,"BLUETOOTH-ENABLED HTC3200S,FRAMELESS Smart An..."
4,"VITRON 32"" Inch DIGITAL TELEVISION FRAMELESS H...",(243),"KSh 12,998",VITRON 32 Inch DIGITAL TELEVISION FRAMELESS HT...,VITRON,32,DIGITAL TELEVISION FRAMELESS HTC3218 LED TV U...

In [84]:
# shape
tv_data.shape

(4239, 7)

In [85]:
# exploring clean dataframe
unique_brands = tv_data["brand"].unique()
print(unique_brands)

#number of unique counts
unique_brands_counts = tv_data["brand"].value_counts()

# write the unique brand counts into a csv
## convert to a df
brand_count_df = unique_brands_counts.reset_index()

## rename column names for clarity
brand_count_df.columns = ["Brand", "Count"]

## write to csv
#brand_count_df.to_csv("tv_brand_count.csv", index = False)

print("Frequency of available brands:\n", unique_brands_counts)

['Vitron' 'VITRON' 'GLD' 'BLUETOOTH' 'Special' 'Artel' 'Vision' 'LYONS'
 'EOCO' 'BLUETOOTH-ENABLED' 'CTC' 'AILYONS' 'Skyworth' 'TCL' 'AMTEC'
 'Hisense' 'Solarmax' 'Amtec' 'VISION' 'New' 'Synix' 'Ailyons' 'Wyinix'
 'Haier' 'NEW' 'VITRON50' 'OFFER' 'LG' 'Euroken' 'SOLARMAX' 'Infinix' 'MG'
 'HISENSE' 'CTC32' 'TOP' 'Syinix' 'Royal' 'vision' 'Vitron32' 'Gld'
 'CLEARANCE' 'HAIER' 'Samsung' 'OFFERVITRON' 'GLD32' 'HIFINIT' 'Best'
 'ROYAL' '' 'Hisense32' 'Solar' 'SAMSUNG' 'Glaze' 'Globalstar' 'SKYWORTH'
 'Latest' 'VITRON43' 'KONKA' 'SYINIX' 'Tcl' 'TV' '23' 'Hisense43inch'
 'Hisense43' 'VITRON55' '22quot' 'TORNADO' 'GLOBALSTAR' 'VITRON32'
 'Amtech' 'VITRON50Inch' 'Share' '32' 'GOOD' 'SKYWORTHQUALITY' '55' 'SAVE'
 'Sony' '43' 'TV.' 'The' '43inch' '40INCH' 'CRAZY' 'WK' 'ENJOY'
 'VisionPlus' 'ANNIVERSARY' 'STAR' 'ANNIVESARY' 'BLACK' 'Amtec32'
 'Vision32' 'SONAR' 'Television' 'TCL43' 'Infinix32' 'CL' 'BRING' 'ALYONS'
 'Premier' 'GLD,' 'FESTIVEOFFERSSMAET' 'VISION43' 'VISION32' 'Vitron,40'
 'TCL32' 'GLAZE50' 'itron' '43S5400' '4388FS,43' 'Vitron,43' 'SONY'
 'Syinix32' 'Skyworth32' 'AIYLONS' 'Itel' 'GLAZE' 'SMART' 'ENNOY'
 'Skyworth32inch' 'VisionPlus32' 'LIMITED' 'AMTEC43' 'CTC32Inch' '19'
 'SKYMAX' 'GREAT' 'VISIONPLUS' '22' 'art' '32inch'
 'SAMSUNG,UA32T5300AU,32' 'Von' 'Ica' '24INCH' 'Konka' 'Ailynos' 'SHARE'
 'Ailyon' 'BEST' 'SPECIAL' '50' 'RESTOCKED' 'SARDIN' 'WEYON' 'AiLyons'
 '24' '65' 'Sonar' 'Skyview' 'premier' 'StarMax' 'OFFERSynix' 'vitron'
 'Iconix' 'VISIONPLUS43' 'Frameless' 'Hisense32inch' 'HTC4388FS' 'HTC'
 'SM100' 'Get' 'HTC5568US' 'IRRESTITABLE' 'Promotion' 'HOT' 'CONNECTING'
 'Android' 'AUGUST' 'Lg' 'HANA' 'ICA' 'EUROKEN' '32quot' 'Viewo' 'CT-22'
 '-' 'EXCLUSIVE' '40' ',' 'ORIGINAL' 'LG,' 'Toshiro' 'Star' 'AFFORDABLE'
 'VON' 'WYinix' 'amtec' 'XIAOMI' '58' '70' '40T5300' '85']
Frequency of available brands:
 brand
Vitron     748
TCL        463
Hisense    378
VITRON     310
CTC        192
          ...
XIAOMI       1
58           1
70           1
40T5300      1
85           1
Name: count, Length: 194, dtype: int64

### Method 2: Extracting Brand & Size

In [86]:
# create a copy of the dataframe
tv_data_2 = tv_data.copy()

# drop columns
tv_data_2.drop(columns=["brand", "size", "description"], inplace=True)
tv_data_2.head()

,product_name,product_reviews,product_price,clean_product_name
0,Vitron 32 Inch Frameless Smart TV HD Netflix T...,(1347),"KSh 11,199",Vitron 32 Inch Frameless Smart TV HD Netflix T...
1,Vitron 32 inch Frameless Television HTC 3218 L...,(710),"KSh 11,099",Vitron 32 inch Frameless Television HTC 3218 L...
2,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,(1142),"KSh 18,499",Vitron 43 inch Smart TV HTC 4388FS Android Tel...
3,"VITRON BLUETOOTH-ENABLED 32"" INCH HTC3200S,FRA...",(947),"KSh 13,978","VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM..."
4,"VITRON 32"" Inch DIGITAL TELEVISION FRAMELESS H...",(243),"KSh 12,998",VITRON 32 Inch DIGITAL TELEVISION FRAMELESS HT...

In [87]:
# definine lists of available brands and size from kilimall website
tv_brands = ["vitron", "hisense","tcl", "generic", "vision","gld", "amtec", "samsung", "ctc", "skyworth", "syinix", "lg", "synix", "ailyons", "sony", "artel", "eoco", "& other fairies", "glaze", "infinix", "haier", "euroken", "iconix", "golden tech", "Microsoft lumia", "hotpoint", "fenghua", "konka", "power", "premier", "royal", "armco", "bic", "ccit", "ctroniq", "hifinit", "htc", "mara", "sonar", "trinity", "vitafoam", "x-tigi", "xiaomi", "wyinix", "sardin", "solar max", "globalstar", "tornado", "mg", "alyons", "solarmax", "ailynos", "von", "star x", "weyon", "itel", "ica", "skyview", "starmax", "aiylons", "skymax"]
print("Available number of TV brands: ", len(tv_brands))

tv_sizes = ["32", "43", "50", "55", "65", "75", "24", "40", "19", "26","22", "85", "70", "17", "105", "90"]
print("Available number of TV sizes (inch): ", len(tv_sizes))

tv_types = ["smart", "digital", "semi-smart"]
print("Available number of TV type: ", len(tv_types))

Available number of TV brands:  61
Available number of TV sizes (inch):  16
Available number of TV type:  3

There are 31 different brands and 16 varied sizes across 3 television types

In [88]:
# extract brand, size and type from "clean_product_name" using above lists

# 1. functions to match brands
def match_brand(product_name):
    for brand in tv_brands:
        if brand.lower() in product_name.lower():
            return brand
    return "Unknown"

# 2. function to extract size by checking against available sizes list

def extract_size(product_name):
    for size in tv_sizes:
        if str(size) in product_name:  # Check if the size number exists in the title as a string
            return size
    return None

# 3. function to match TV type
def match_tv_type(product_name):
    for tv_type in tv_types:
        if tv_type.lower() in product_name.lower():
            return tv_type
    return "Unknown Type"

In [89]:
# Apply the functions to the DataFrame

tv_data_2['brand'] = tv_data_2['clean_product_name'].apply(match_brand)
tv_data_2['size'] = tv_data_2['clean_product_name'].apply(extract_size)
tv_data_2['tv_type'] = tv_data_2['clean_product_name'].apply(match_tv_type)
tv_data_2.head(50)

# convert the df to csv
#tv_data_2.to_csv("tv_data_2.csv", index=False)

,product_name,product_reviews,product_price,clean_product_name,brand,size,tv_type
0,Vitron 32 Inch Frameless Smart TV HD Netflix T...,(1347),"KSh 11,199",Vitron 32 Inch Frameless Smart TV HD Netflix T...,vitron,32,smart
1,Vitron 32 inch Frameless Television HTC 3218 L...,(710),"KSh 11,099",Vitron 32 inch Frameless Television HTC 3218 L...,vitron,32,digital
2,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,(1142),"KSh 18,499",Vitron 43 inch Smart TV HTC 4388FS Android Tel...,vitron,43,smart
3,"VITRON BLUETOOTH-ENABLED 32"" INCH HTC3200S,FRA...",(947),"KSh 13,978","VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM...",vitron,32,smart
4,"VITRON 32"" Inch DIGITAL TELEVISION FRAMELESS H...",(243),"KSh 12,998",VITRON 32 Inch DIGITAL TELEVISION FRAMELESS HT...,vitron,32,digital
5,GLD 32 Inch Frameless Smart Android TV（G3200R1...,(348),"KSh 11,799",GLD 32 Inch Frameless Smart Android TVG3200R1-...,vision,32,smart
6,"BLUETOOTH VITRON HTC4388FS 43"" INCH FRAMELESS...",(856),"KSh 22,790",BLUETOOTH VITRON HTC4388FS 43 INCH FRAMELESS ...,vitron,43,smart
7,(Special offer)Artel 32 inch Frameless Bluetoo...,(157),"KSh 11,099",Special offerArtel 32 inch Frameless Bluetooth...,artel,32,smart
8,Artel 30AT2801 Digital AC/DC TV Original 1080P...,(14),"KSh 8,499",Artel 30AT2801 Digital ACDC TV Original 1080P ...,artel,None,digital
9,"VITRON 43"" INCH BLUETOOTH ENABLED HTC4388FS FR...",(379),"KSh 21,799",VITRON 43 INCH BLUETOOTH ENABLED HTC4388FS FRA...,vitron,43,smart
10,Vision Plus 32 inch digital frameless Televisi...,(203),"KSh 11,499",Vision Plus 32 inch digital frameless Televisi...,vision,32,digital
11,(Special Offer)Artel 43 inch Frameless Bluetoo...,(132),"KSh 18,299",Special OfferArtel 43 inch Frameless Bluetooth...,artel,43,smart
12,LYONS 43 Inch Blutooth Frameless Smart TV HD ...,(19),"KSh 18,399",LYONS 43 Inch Blutooth Frameless Smart TV HD ...,vision,43,smart
13,Artel 32 inch Frameless Digital TV(AT32D) with...,(33),"KSh 10,399",Artel 32 inch Frameless Digital TVAT32D with 1...,artel,32,digital
14,EOCO E-2400 Digital AC/DC TV Original 1080P En...,(1),"KSh 6,699",EOCO E-2400 Digital ACDC TV Original 1080P Ene...,eoco,24,digital
15,"Vitron HTC3200S,BLUETOOTH Enabled TV, FRAMELES...",(27),"KSh 13,980","Vitron HTC3200S,BLUETOOTH Enabled TV, FRAMELES...",vitron,32,smart
16,"BLUETOOTH-ENABLED VITRON 43"" INCH FRAMELESS FH...",(11),"KSh 22,699",BLUETOOTH-ENABLED VITRON 43 INCH FRAMELESS FHD...,vitron,43,smart
17,"Vitron HTC3200S 32"" Inch BLUETOOTH TV FRAMELES...",(626),"KSh 13,945",Vitron HTC3200S 32 Inch BLUETOOTH TV FRAMELESS...,vitron,32,smart
18,"Vitron 32"" Inch TELEVISION HTC3218 HD LED Digi...",(16),"KSh 11,999",Vitron 32 Inch TELEVISION HTC3218 HD LED Digit...,vitron,32,digital
19,"VITRON HTC3200S - 32"" Inch Frameless Smart And...",(566),"KSh 13,950",VITRON HTC3200S - 32 Inch Frameless Smart Andr...,vitron,32,smart
20,"Vitron HTC3200S,BLUETOOTH Enabled TV, FRAMELES...",(406),"KSh 13,795","Vitron HTC3200S,BLUETOOTH Enabled TV, FRAMELES...",vitron,32,smart
21,"Vitron HTC 4388FS 43"" INCH FRAMELESS-BLUETOOTH...",(338),"KSh 22,790",Vitron HTC 4388FS 43 INCH FRAMELESS-BLUETOOTH-...,vitron,43,smart
22,CTC 32F1S 32 Inch Frameless Android Smart TV H...,(49),"KSh 11,499",CTC 32F1S 32 Inch Frameless Android Smart TV H...,vision,32,smart
23,"VITRON HTC4388FS 43"" INCH BLUETOOTH FRAMELESS ...",(37),"KSh 20,899",VITRON HTC4388FS 43 INCH BLUETOOTH FRAMELESS F...,vitron,43,smart
24,CTC Digital Inbuilt Decorder -With USB & HDMI ...,(6),"KSh 6,890",CTC Digital Inbuilt Decorder -With USB HDMI O...,ctc,None,digital
25,"VITRON 32"" INCH BLUETOOTH TV HTC3200S,FRAMELE...",(283),"KSh 13,295","VITRON 32 INCH BLUETOOTH TV HTC3200S,FRAMELES...",vitron,32,smart
26,"CTC 23'' Digital LED TV ,USB,HDMI PORT,23"" INC...",(9),"KSh 6,999","CTC 23 Digital LED TV ,USB,HDMI PORT,23 INCHES...",ctc,None,digital
27,"GLD 32"" Inch,FRAMELESS SMART BLUETOOTH ENABLED...",(141),"KSh 13,899","GLD 32 Inch,FRAMELESS SMART BLUETOOTH ENABLED-...",vision,32,smart
28,"Vision Plus 32 inch tv Smart TV frameless 32"" ...",(166),"KSh 13,299",Vision Plus 32 inch tv Smart TV frameless 32 F...,vision,32,smart
29,AILYONS TV LET3208W 32 Inch Frameless ATV +DVB...,(253),"KSh 10,599",AILYONS TV LET3208W 32 Inch Frameless ATV DVB ...,vision,32,digital
30,EOCO 32 inch Frameless Bluetooth Smart TV(EO32...,(4),"KSh 11,099",EOCO 32 inch Frameless Bluetooth Smart TVEO32S...,eoco,32,smart
31,Vitron 24 inch Digital TV HD LED TV AC/DC DVB-...,(81),"KSh 8,810",Vitron 24 inch Digital TV HD LED TV ACDC DVB-T...,vitron,24,digital
32,"Vitron HTC3200S,BLUETOOTH TV FRAMELESS 32 Inch...",(153),"KSh 12,295","Vitron HTC3200S,BLUETOOTH TV FRAMELESS 32 Inch...",vitron,32,smart
33,"VITRON HTC 4388FS 43"" INCH FRAMELESS,BLUETOOTH...",(4),"KSh 21,870","VITRON HTC 4388FS 43 INCH FRAMELESS,BLUETOOTH-...",vitron,43,smart
34,"VITRON 32"" Inch HD FRAMELESS LED TV DIGITAL Te...",(192),"KSh 12,995",VITRON 32 Inch HD FRAMELESS LED TV DIGITAL Tel...,vitron,32,digital
35,"VITRON 32"" INCH HTC3200S,BLUETOOTH TV,FRAMELES...",(32),"KSh 12,999","VITRON 32 INCH HTC3200S,BLUETOOTH TV,FRAMELESS...",vitron,32,smart
36,"GLD 32"" Inch Frameless Smart Android TV 32 inc...",(43),"KSh 13,875",GLD 32 Inch Frameless Smart Android TV 32 inch...,vision,32,smart
37,"BLUETOOTH-ENABLED VITRON 43"" INCH FRAMELESS FH...",(9),"KSh 21,799",BLUETOOTH-ENABLED VITRON 43 INCH FRAMELESS FHD...,vitron,43,smart
38,"Vitron HTC4068S,40 Inch Bluetooth EnabledFrame...",(217),"KSh 19,999","Vitron HTC4068S,40 Inch Bluetooth EnabledFrame...",vitron,40,smart
39,"BLUETOOTH VITRON 43"" INCH FRAMELESS FULL- HD S...",(29),"KSh 20,989",BLUETOOTH VITRON 43 INCH FRAMELESS FULL- HD SM...,vitron,43,smart
40,"Skyworth 32E57, 32-inches Full HD Frameless Sm...",(4),"KSh 15,999","Skyworth 32E57, 32-inches Full HD Frameless Sm...",skyworth,32,smart
41,VITRON HTC3218 32 INCH FRAMELESS HD DIGITAL TV...,(92),"KSh 11,999",VITRON HTC3218 32 INCH FRAMELESS HD DIGITAL TV...,vitron,32,digital
42,CTC 19 inches led digital television inbuilt d...,(2),"KSh 5,499",CTC 19 inches led digital television inbuilt d...,vision,19,digital
43,"Vitron HTC3200S,FRAMELESS BLUETOOTH TV 32 Inch...",(61),"KSh 12,995","Vitron HTC3200S,FRAMELESS BLUETOOTH TV 32 Inch...",vitron,32,smart
44,"VITRON 43"" INCH BLUETOOTH TV HTC4388FS FRAMELE...",(38),"KSh 20,999",VITRON 43 INCH BLUETOOTH TV HTC4388FS FRAMELES...,vitron,43,smart
45,"VITRON BLUETOOTH-ENABLED 32"" INCH HTC3200S,FRA...",(6),"KSh 13,390","VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM...",vitron,32,smart
46,EOCO 43 inch Frameless Bluetooth Smart TV(43EO...,(0),"KSh 17,999",EOCO 43 inch Frameless Bluetooth Smart TV43EO4...,eoco,43,smart
47,CTC 23 INCH LED DIGITAL TV With Inbuilt Decorder,(2),"KSh 6,750",CTC 23 INCH LED DIGITAL TV With Inbuilt Decorder,ctc,None,digital
48,"TCL 43"" Inch-S5400-BLUETOOTH TV,FUL HD-Smart &...",(0),"KSh 30,999","TCL 43 Inch-S5400-BLUETOOTH TV,FUL HD-Smart D...",tcl,43,smart
49,"AMTEC 24V22 24"" inch 12V HD Digital TV LED TV ...",(3),"KSh 7,695",AMTEC 24V22 24 inch 12V HD Digital TV LED TV A...,vision,24,digital

In [90]:
# shape
tv_data_2.shape

(4239, 7)

In [91]:
# exploring clean dataframe
unique_brands_1 = tv_data_2["brand"].unique()
print(unique_brands_1)

#number of unique counts
unique_brands_counts_1 = tv_data_2["brand"].value_counts()
unique_sizes_counts_1 = tv_data_2["size"].value_counts()
unique_tv_types_counts_1 = tv_data_2["tv_type"].value_counts()

# write the unique brand counts into a csv
## convert to a df
brand_count_df_1 = unique_brands_counts_1.reset_index()

## rename column names for clarity
brand_count_df_1.columns = ["Brand", "Count"]

## write to csv
brand_count_df_1.to_csv("tv_brand_count_1.csv", index = False)

print("Frequency of available brands:\n", unique_brands_counts_1)

['vitron' 'vision' 'artel' 'eoco' 'ctc' 'skyworth' 'tcl' 'hisense'
 'solarmax' 'amtec' 'syinix' 'ailyons' 'synix' 'wyinix' 'lg' 'euroken'
 'royal' 'gld' 'samsung' 'solar max' 'glaze' 'globalstar' 'konka' 'mg'
 'Unknown' 'premier' 'tornado' 'sony' 'star x' 'sonar' 'htc' 'alyons'
 'aiylons' 'itel' 'haier' 'skymax' 'ica' 'ailynos' 'von' 'power' 'weyon'
 'skyview' 'starmax' 'iconix' 'infinix' 'xiaomi' 'sardin']
Frequency of available brands:
 brand
vitron        1249
vision         950
tcl            498
hisense        461
samsung        142
ctc            136
skyworth       123
gld            113
amtec          106
syinix          56
lg              56
Unknown         53
glaze           37
royal           35
synix           30
sony            30
artel           15
ica             15
ailyons         14
mg              14
solarmax        12
euroken         10
globalstar       9
tornado          8
eoco             7
wyinix           6
iconix           6
htc              5
star x           5
premier          5
itel             4
haier            4
konka            3
sonar            3
solar max        2
skyview          2
infinix          2
power            2
von              2
sardin           2
skymax           1
aiylons          1
alyons           1
ailynos          1
weyon            1
starmax          1
xiaomi           1
Name: count, dtype: int64

In [92]:
print("Frequency of available tv size:\n", unique_sizes_counts_1)

Frequency of available tv size:
 size
32    1645
43    1116
50     386
55     350
65     157
24     134
40     104
22      84
19      75
75      60
26      24
70      10
85       8
90       1
17       1
Name: count, dtype: int64

In [93]:
print("Frequency of available tv type:\n", unique_tv_types_counts_1)

Frequency of available tv type:
 tv_type
smart           3065
digital          680
Unknown Type     494
Name: count, dtype: int64

In [94]:
# explore rows with unknown brands
unknown_type = tv_data_2[tv_data_2["tv_type"] == "Unknown Type"]
unknown_type.head()

,product_name,product_reviews,product_price,clean_product_name,brand,size,tv_type
73,"VITRON HTC5068US 50"" Inch FRAMELESS INBUILT DE...",(19),"KSh 35,995",VITRON HTC5068US 50 Inch FRAMELESS INBUILT DED...,vitron,50,Unknown Type
85,Skyworth 43” inch 43E FRAMELESS FHD ANDROID AI...,(42),"KSh 28,995",Skyworth 43 inch 43E FRAMELESS FHD ANDROID AI ...,skyworth,43,Unknown Type
86,"Amtec 19"" With Inbuilt Free To Air Decorder",(1),"KSh 5,499",Amtec 19 With Inbuilt Free To Air Decorder,amtec,19,Unknown Type
94,"TCL 50"" Inch, P635, 4K HDR Google/Android TV,B...",(1),"KSh 43,899","TCL 50 Inch, P635, 4K HDR GoogleAndroid TV,BLU...",tcl,50,Unknown Type
102,"VITRON 50 inch HTC5068US,50 Inch BLUETOOTH FRA...",(29),"KSh 35,495","VITRON 50 inch HTC5068US,50 Inch BLUETOOTH FRA...",vitron,50,Unknown Type

In [95]:
# remove brackets from product_reviews
tv_data_2["product_reviews"] = tv_data_2["product_reviews"].apply(lambda x: x.strip("()"))
tv_data_2.head()

,product_name,product_reviews,product_price,clean_product_name,brand,size,tv_type
0,Vitron 32 Inch Frameless Smart TV HD Netflix T...,1347,"KSh 11,199",Vitron 32 Inch Frameless Smart TV HD Netflix T...,vitron,32,smart
1,Vitron 32 inch Frameless Television HTC 3218 L...,710,"KSh 11,099",Vitron 32 inch Frameless Television HTC 3218 L...,vitron,32,digital
2,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,1142,"KSh 18,499",Vitron 43 inch Smart TV HTC 4388FS Android Tel...,vitron,43,smart
3,"VITRON BLUETOOTH-ENABLED 32"" INCH HTC3200S,FRA...",947,"KSh 13,978","VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM...",vitron,32,smart
4,"VITRON 32"" Inch DIGITAL TELEVISION FRAMELESS H...",243,"KSh 12,998",VITRON 32 Inch DIGITAL TELEVISION FRAMELESS HT...,vitron,32,digital

In [96]:
# cleaning the product_price column

tv_data_2["product_price"] = tv_data_2["product_price"].apply(lambda x: int(x.replace("KSh", "").replace(",", "").strip()))
tv_data_2.head()

,product_name,product_reviews,product_price,clean_product_name,brand,size,tv_type
0,Vitron 32 Inch Frameless Smart TV HD Netflix T...,1347,11199,Vitron 32 Inch Frameless Smart TV HD Netflix T...,vitron,32,smart
1,Vitron 32 inch Frameless Television HTC 3218 L...,710,11099,Vitron 32 inch Frameless Television HTC 3218 L...,vitron,32,digital
2,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,1142,18499,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,vitron,43,smart
3,"VITRON BLUETOOTH-ENABLED 32"" INCH HTC3200S,FRA...",947,13978,"VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM...",vitron,32,smart
4,"VITRON 32"" Inch DIGITAL TELEVISION FRAMELESS H...",243,12998,VITRON 32 Inch DIGITAL TELEVISION FRAMELESS HT...,vitron,32,digital

In [97]:
# drop product_name
tv_data_2.drop(columns=["product_name"], inplace=True)
tv_data_2.head()

,product_reviews,product_price,clean_product_name,brand,size,tv_type
0,1347,11199,Vitron 32 Inch Frameless Smart TV HD Netflix T...,vitron,32,smart
1,710,11099,Vitron 32 inch Frameless Television HTC 3218 L...,vitron,32,digital
2,1142,18499,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,vitron,43,smart
3,947,13978,"VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM...",vitron,32,smart
4,243,12998,VITRON 32 Inch DIGITAL TELEVISION FRAMELESS HT...,vitron,32,digital

In [101]:
tv_data_2.shape

(4239, 6)

In [106]:
# check and remove duplicates
tv_data_no_dupes = tv_data_2.drop_duplicates(keep="first")
tv_data_no_dupes.shape

(3994, 6)

In [112]:
# restructure the dataframe to have the columns in a more logical order
tv_data_no_dupes = tv_data_2[["clean_product_name", "brand", "size", "tv_type", "product_reviews", "product_price"]]

# change column names
tv_data_no_dupes = tv_data_no_dupes.rename(columns={"clean_product_name": "Description", "product_reviews": "Reviews", "product_price": "Price", "brand": "Brand", "size": "Size", "tv_type": "Type"})

tv_data_no_dupes.head()

,Description,Brand,Size,Type,Reviews,Price
0,Vitron 32 Inch Frameless Smart TV HD Netflix T...,vitron,32,smart,1347,11199
1,Vitron 32 inch Frameless Television HTC 3218 L...,vitron,32,digital,710,11099
2,Vitron 43 inch Smart TV HTC 4388FS Android Tel...,vitron,43,smart,1142,18499
3,"VITRON BLUETOOTH-ENABLED 32 INCH HTC3200S,FRAM...",vitron,32,smart,947,13978
4,VITRON 32 Inch DIGITAL TELEVISION FRAMELESS HT...,vitron,32,digital,243,12998

In [113]:
tv_data_no_dupes.describe()

              Price
count  4.239000e+03
mean   3.700771e+04
std    5.890360e+04
min    5.499000e+03
25%    1.400000e+04
50%    2.279000e+04
75%    3.699900e+04
max    1.250000e+06

In [114]:
print(tv_data_no_dupes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4239 entries, 0 to 4238
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  4239 non-null   object
 1   Brand        4239 non-null   object
 2   Size         4155 non-null   object
 3   Type         4239 non-null   object
 4   Reviews      4239 non-null   object
 5   Price        4239 non-null   int64
dtypes: int64(1), object(5)
memory usage: 198.8+ KB
None

In [115]:
# save the cleaned data to a csv file
tv_data_no_dupes.to_csv(r"data\cleaned_tv_data.csv", index=False)

In [117]:
tv_data_no_dupes.isnull().sum()

Description     0
Brand           0
Size           84
Type            0
Reviews         0
Price           0
dtype: int64