In [227]:
import pandas as pd

In [228]:
dataframe = pd.read_csv(r"C:\Users\Vivian.Obino1\Desktop\e-commerce analysis\kilimall_pnones_no_rating.csv")

In [229]:
print(dataframe)

                                            phones_name phones_reviews  \
0     Refurbished OPPO F11 A9 Smart Phone 128GB+6GB ...            (9)
1     [New Year Promotion] Itel S23 Plus 128GB + 8(4...          (153)
2     XIAOMI Redmi 14C 128GB Storage Upto 8(4+4)GB R...          (136)
3     Refurbished OPPO A91 F15 Smart Phone 256GB 128...            (8)
4     [Xmas Sale] New Arrival TECNO POP 9 128GB + 6(...           (84)
...                                                 ...            ...
5215  [HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 4+128GB-St...            (0)
5216  [HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...            (0)
5217  [HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...            (0)
5218  [HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...            (0)
5219                   SAMSUNG S20 5G BRAND NEW 8+128GB            (0)

     phones_price
0       KSh 7,499
1      KSh 13,399
2      KSh 12,910
3       KSh 7,899
4      KSh 11,599
...           ...
5215   KSh 17,899
5216   KSh 18,899
5217   KSh 19,299
5218   KSh 19,699
5219   KSh 34,000

[5220 rows x 3 columns]

In [230]:
dataframe_cleaned = dataframe.drop_duplicates()
print(dataframe)

                                            phones_name phones_reviews  \
0     Refurbished OPPO F11 A9 Smart Phone 128GB+6GB ...            (9)
1     [New Year Promotion] Itel S23 Plus 128GB + 8(4...          (153)
2     XIAOMI Redmi 14C 128GB Storage Upto 8(4+4)GB R...          (136)
3     Refurbished OPPO A91 F15 Smart Phone 256GB 128...            (8)
4     [Xmas Sale] New Arrival TECNO POP 9 128GB + 6(...           (84)
...                                                 ...            ...
5215  [HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 4+128GB-St...            (0)
5216  [HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...            (0)
5217  [HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...            (0)
5218  [HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...            (0)
5219                   SAMSUNG S20 5G BRAND NEW 8+128GB            (0)

     phones_price
0       KSh 7,499
1      KSh 13,399
2      KSh 12,910
3       KSh 7,899
4      KSh 11,599
...           ...
5215   KSh 17,899
5216   KSh 18,899
5217   KSh 19,299
5218   KSh 19,699
5219   KSh 34,000

[5220 rows x 3 columns]

In [231]:
dataframe['phones_price']= dataframe['phones_price'].str.strip('KSh,')
dataframe

,phones_name,phones_reviews,phones_price
0,Refurbished OPPO F11 A9 Smart Phone 128GB+6GB ...,(9),"7,499"
1,[New Year Promotion] Itel S23 Plus 128GB + 8(4...,(153),"13,399"
2,XIAOMI Redmi 14C 128GB Storage Upto 8(4+4)GB R...,(136),"12,910"
3,Refurbished OPPO A91 F15 Smart Phone 256GB 128...,(8),"7,899"
4,[Xmas Sale] New Arrival TECNO POP 9 128GB + 6(...,(84),"11,599"
...,...,...,...
5215,[HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 4+128GB-St...,(0),"17,899"
5216,[HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...,(0),"18,899"
5217,[HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...,(0),"19,299"
5218,[HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...,(0),"19,699"
5219,SAMSUNG S20 5G BRAND NEW 8+128GB,(0),"34,000"

In [232]:
dataframe['phones_reviews'] = dataframe['phones_reviews'].str.extract(r'(\d+)').astype(int)
dataframe

,phones_name,phones_reviews,phones_price
0,Refurbished OPPO F11 A9 Smart Phone 128GB+6GB ...,9,"7,499"
1,[New Year Promotion] Itel S23 Plus 128GB + 8(4...,153,"13,399"
2,XIAOMI Redmi 14C 128GB Storage Upto 8(4+4)GB R...,136,"12,910"
3,Refurbished OPPO A91 F15 Smart Phone 256GB 128...,8,"7,899"
4,[Xmas Sale] New Arrival TECNO POP 9 128GB + 6(...,84,"11,599"
...,...,...,...
5215,[HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 4+128GB-St...,0,"17,899"
5216,[HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...,0,"18,899"
5217,[HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...,0,"19,299"
5218,[HOLIDAY OFFERS!!!]Vivo Y19s 6.68'' 6+128GB-St...,0,"19,699"
5219,SAMSUNG S20 5G BRAND NEW 8+128GB,0,"34,000"

In [233]:
dataframe.to_csv("cleaned_phones.csv", index=False)

In [234]:
import re
import pandas as pd

# Replace this with the path to your actual CSV file
file_path = 'cleaned_phones.csv'

# Load the CSV file
dataframe = pd.read_csv(file_path, header=None, names=['phones_name', 'unknown_col', 'phones_price'])

# List of words to remove
words_to_remove = [
    'xmas', 'sale', 'new', 'arrival', 'brand', 'refurbished', 'year', 'sales', 'promotion', 
    'original', 'super', 'limited', 'offer', 'holiday', 'offers', 'black', 'friday', 'deals', 
    'arrivals', 'christmas', 'smart', 'end', 'free', 'charger', 'official', 'phones', 'special', 
    'buy', 'big', 'launch', 'november'
]

# Compile regex pattern
pattern = r'\b(?:' + '|'.join(map(re.escape, words_to_remove)) + r')\b'

# Functions to clean the data
def remove_brackets(column):
    return column.str.replace(r'\[.*?\]', '', regex=True)

def clean_column(column):
    return column.str.replace(pattern, '', flags=re.IGNORECASE).str.replace(r'\s+', ' ', regex=True).str.strip()

def remove_symbols(column):
    return column.str.replace(r'[!"+]', '', regex=True)

# Apply cleaning functions
dataframe['phones_name'] = remove_brackets(dataframe['phones_name'])  # Remove text in square brackets
dataframe['phones_name'] = clean_column(dataframe['phones_name'])    # Remove unwanted words
dataframe['phones_name'] = remove_symbols(dataframe['phones_name'])  # Remove special characters

# Save cleaned data to a new CSV file
cleaned_file_path = 'cleaned_file.csv'
dataframe.to_csv(cleaned_file_path, index=False)

# Display a sample of the cleaned data
print(dataframe.head())

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  Refurbished OPPO F11 A9 Smart Phone 128GB6GB 6...               9
2  Itel S23 Plus 128GB  8(44)GB RAM 6.78'' Big Cu...             153
3  XIAOMI Redmi 14C 128GB Storage Upto 8(44)GB Ra...             136
4  Refurbished OPPO A91 F15 Smart Phone 256GB 128...               8

   phones_price
0  phones_price
1         7,499
2        13,399
3        12,910
4         7,899

In [235]:
# import re
# pattern = r"[Refurbished]"
dataframe["phones_name"] = dataframe["phones_name"].str.replace("Refurbished", "")
dataframe.head()

,phones_name,unknown_col,phones_price
0,phones_name,phones_reviews,phones_price
1,OPPO F11 A9 Smart Phone 128GB6GB 6.5 4000mAh ...,9,"7,499"
2,Itel S23 Plus 128GB 8(44)GB RAM 6.78'' Big Cu...,153,"13,399"
3,XIAOMI Redmi 14C 128GB Storage Upto 8(44)GB Ra...,136,"12,910"
4,OPPO A91 F15 Smart Phone 256GB 128GB 6.4 with...,8,"7,899"

In [236]:
dataframe.to_csv("cleaned_phones.csv", index=False)

In [237]:
import re

# List of words to remove
words_to_remove = [
    'xmas', 'sale', 'new', 'Xmas','Promotion','Year','phones','arrival', 'brand', 'refurbished', 'year', 'sales', 'promotion', 
    'original', 'super', 'limited', 'offer', 'holiday', 'offers', 'black', 'friday', 'deals', 
    'arrivals', 'christmas', 'smart', 'end', 'free', 'charger', 'official', 'phones', 'special', 'Smart',
    'buy', 'big', 'launch', 'november','Limited','OFFER','Brand','New','Face','unlock','Arrival','Black','Friday','NEW','CHEAP','SMART','BLACK','NOVEMBER','OFFERS','Unlocked','Phones','BRAND','Original','Free','Charger','Exclusive','Special','Offer','Phone','LIMITED'
    'anniversary','Arrivals','Best','for','a','Refirbishe','time','BRANDNEW','CHRISTMAS','HOLIDAY','OFFEROFFER','REFURBISHED','END','YEAR','Buy','Official','Offiicial','BIG','DEALS','ARRIVALS','OFFERS','Unlock','Google','system','Techweek','mobile','Harambee','phone','Global','Version'
    ,'Refurbishe','Systems','Edition','Honor','ORIGINAL','Freeyond','machine','The','Refur','version','Latest','SOWHAT'
,'GRAB','QUICK','SALE','Firmware','Super','Sale','Badili','FreeYond','Smartphone','HONOR','Cell','net','Top','International','edition','high','matching','EASTER','Sharp','YOUR'
,'certified','Certified','DISCOUNT','SPECIAL','SPECIAL','ARRIVAL','Renovate','SEALED','OFFERSBRAND','EXPANDABLE','FRIDAY','FLASH','LIMTED'
]

# Create a regex pattern to match any of the words in the list
pattern = r'\b(?:' + '|'.join(map(re.escape, words_to_remove)) + r')\b'

# Apply the regex pattern to remove the words
dataframe["phones_name"] = dataframe["phones_name"].str.replace(pattern, '', regex=True).str.strip()

# Display the cleaned DataFrame
print(dataframe.head())

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...               9
2  Itel S23 Plus 128GB  8(44)GB RAM 6.78'' Big Cu...             153
3  XIAOMI Redmi 14C 128GB Storage Upto 8(44)GB Ra...             136
4  OPPO A91 F15   256GB 128GB 6.4 without Fingerp...               8

   phones_price
0  phones_price
1         7,499
2        13,399
3        12,910
4         7,899

In [238]:
dataframe.to_csv("cleann_phone.csv", index=False)

In [239]:
import re

# Function to clean the phones_name column
def clean_phones_name(name):
    # Remove unwanted characters: (), {}, !!, [], "", and numbers before the first letter
    name = re.sub(r'[\(\)\{\}\[\]\"!]+', '', name)  # Remove parentheses, brackets, quotes, and exclamation marks
    name = re.sub(r'^\d+\s*', '', name)  # Remove numbers at the start of the string
    return name.strip()  # Remove leading and trailing whitespace

# Apply the cleaning function to the phones_name column
dataframe["phones_name"] = dataframe["phones_name"].apply(clean_phones_name)

# Display the cleaned DataFrame
print(dataframe.head())

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...               9
2  Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...             153
3  XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...             136
4  OPPO A91 F15   256GB 128GB 6.4 without Fingerp...               8

   phones_price
0  phones_price
1         7,499
2        13,399
3        12,910
4         7,899

In [240]:
import re

# Function to remove the first quotation mark
def remove_first_quote(name):
    return re.sub(r'^[\'"]', '', name)  # Remove the first single or double quote if present

# Apply the function to the phones_name column
dataframe["phones_name"] = dataframe["phones_name"].apply(remove_first_quote)

# Display the cleaned DataFrame
print(dataframe.head())

dataframe.to_csv("cleann_phone.csv", index=False)

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...               9
2  Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...             153
3  XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...             136
4  OPPO A91 F15   256GB 128GB 6.4 without Fingerp...               8

   phones_price
0  phones_price
1         7,499
2        13,399
3        12,910
4         7,899

In [241]:
import re

# Function to ensure the first character is an alphabet
def remove_non_alphabet_start(name):
    return re.sub(r'^[^a-zA-Z]+', '', name)  # Remove any non-alphabet characters from the start

# Apply the function to the phones_name column
dataframe["phones_name"] = dataframe["phones_name"].apply(remove_non_alphabet_start)

# Display the cleaned DataFrame
print(dataframe.head())
dataframe.to_csv("cleann_phone.csv", index=False)

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...               9
2  Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...             153
3  XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...             136
4  OPPO A91 F15   256GB 128GB 6.4 without Fingerp...               8

   phones_price
0  phones_price
1         7,499
2        13,399
3        12,910
4         7,899

In [242]:
# Delete the first row
dataframe = dataframe.drop(index=0)

# Reset index if you want to reindex the DataFrame
dataframe = dataframe.reset_index(drop=True)

# Display the updated DataFrame
print(dataframe.head())

                                         phones_name unknown_col phones_price
0  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...           9        7,499
1  Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...         153       13,399
2  XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...         136       12,910
3  OPPO A91 F15   256GB 128GB 6.4 without Fingerp...           8        7,899
4  TECNO POP 9 128GB  633GB 4.5G Fast Network 6.6...          84       11,599

In [243]:
ram_pattern = r'\b(2|3|4|6|8|12|24)\s*GB'

# Function to extract RAM size
def extract_ram(phones_name):
    ram = re.findall(ram_pattern, phones_name)  # Find all occurrences that match the pattern
    return ram[0] if ram else None  # If found, return the first match; else return None

storage_pattern = r'\b(16|32|64|128|256)\s*GB'
def extract_storage(phones_name):
    storage = re.findall(storage_pattern, phones_name)  # Find all occurrences that match the pattern
    return storage[0] if storage else None  # If found, return the first match; else return None
def extract_brand(phones_name):
    # Split the name into words and take the first two or three
    words = phones_name.split()
    return ' '.join(words[:3])  # Return the first three words (or fewer if not available)
def extract_battery(phones_name):
    # Search for a pattern that captures numbers followed by 'mAh'
    match = re.search(r'(\d+)\s*mAh', phones_name)
    if match:
        return match.group(1)  # Return the first captured group (the number)
    return None  # If no match, return None

# Apply the function to the 'phones_name' column and create a new 'battery' column
dataframe['battery'] = dataframe['phones_name'].apply(extract_battery)
# Apply the function to the 'phones_name' column and create a new 'storage' column
dataframe['ram'] = dataframe['phones_name'].apply(extract_ram)
dataframe['storage'] = dataframe['phones_name'].apply(extract_storage)
# Apply the function to the 'phones_name' column and create a new 'brand' column
dataframe['brand'] = dataframe['phones_name'].apply(extract_brand)

In [244]:
print(dataframe)

                                            phones_name unknown_col  \
0     OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...           9
1     Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...         153
2     XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...         136
3     OPPO A91 F15   256GB 128GB 6.4 without Fingerp...           8
4     TECNO POP 9 128GB  633GB 4.5G Fast Network 6.6...          84
...                                                 ...         ...
5215  Vivo Y19s 6.68'' 4128GB-Staorage, 50MP-Camera-...           0
5216  Vivo Y19s 6.68'' 6128GB-Staorage, 50MP-Camera-...           0
5217  Vivo Y19s 6.68'' 6128GB-Staorage, 50MP-Camera-...           0
5218  Vivo Y19s 6.68'' 6128GB-Staorage, 50MP-Camera-...           0
5219                            SAMSUNG S20 5G   8128GB           0

     phones_price battery   ram storage             brand
0           7,499    4000  None     128       OPPO F11 A9
1          13,399    5000  None     128     Itel S23 Plus
2          12,910    5160  None     128  XIAOMI Redmi 14C
3           7,899    None  None     256      OPPO A91 F15
4          11,599    5000  None     128       TECNO POP 9
...           ...     ...   ...     ...               ...
5215       17,899    5000  None    None  Vivo Y19s 6.68''
5216       18,899    5000  None    None  Vivo Y19s 6.68''
5217       19,299    5000  None    None  Vivo Y19s 6.68''
5218       19,699    5000  None    None  Vivo Y19s 6.68''
5219       34,000    None  None    None    SAMSUNG S20 5G

[5220 rows x 7 columns]

In [245]:


dataframe.to_csv("cleann_phone.csv", index=False)

In [248]:

dataframe['brand'] = dataframe['phones_name'].apply(extract_brand)
dataframe['storage'] = dataframe['phones_name'].apply(extract_storage)
dataframe['ram'] = dataframe['phones_name'].apply(extract_ram)
dataframe['battery'] = dataframe['phones_name'].apply(extract_battery)
dataframe.rename(columns={'unknown_col': 'reviews'}, inplace=True)

new_dataframe = dataframe[['brand', 'storage', 'ram', 'phones_price', 'reviews', 'battery']]

# Display the updated DataFrame
print(new_dataframe)

                 brand storage   ram phones_price reviews battery
0          OPPO F11 A9     128  None        7,499       9    4000
1        Itel S23 Plus     128  None       13,399     153    5000
2     XIAOMI Redmi 14C     128  None       12,910     136    5160
3         OPPO A91 F15     256  None        7,899       8    None
4          TECNO POP 9     128  None       11,599      84    5000
...                ...     ...   ...          ...     ...     ...
5215  Vivo Y19s 6.68''    None  None       17,899       0    5000
5216  Vivo Y19s 6.68''    None  None       18,899       0    5000
5217  Vivo Y19s 6.68''    None  None       19,299       0    5000
5218  Vivo Y19s 6.68''    None  None       19,699       0    5000
5219    SAMSUNG S20 5G    None  None       34,000       0    None

[5220 rows x 6 columns]

In [249]:
# Rename 'unknown_col' to 'reviews'
new_dataframe.rename(columns={'unknown_col': 'reviews'}, inplace=True)

# Display the updated DataFrame
print(new_dataframe)

                 brand storage   ram phones_price reviews battery
0          OPPO F11 A9     128  None        7,499       9    4000
1        Itel S23 Plus     128  None       13,399     153    5000
2     XIAOMI Redmi 14C     128  None       12,910     136    5160
3         OPPO A91 F15     256  None        7,899       8    None
4          TECNO POP 9     128  None       11,599      84    5000
...                ...     ...   ...          ...     ...     ...
5215  Vivo Y19s 6.68''    None  None       17,899       0    5000
5216  Vivo Y19s 6.68''    None  None       18,899       0    5000
5217  Vivo Y19s 6.68''    None  None       19,299       0    5000
5218  Vivo Y19s 6.68''    None  None       19,699       0    5000
5219    SAMSUNG S20 5G    None  None       34,000       0    None

[5220 rows x 6 columns]

C:\Users\Vivian.Obino1\AppData\Local\Temp\ipykernel_38880\1074087040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataframe.rename(columns={'unknown_col': 'reviews'}, inplace=True)

In [250]:

new_dataframe.to_csv("cleann_phone.csv", index=False)