In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv(r"C:\Users\Vivian.Obino1\Desktop\e-commerce analysis\data\scraped\kilimall_scraped_microwaves.csv")

In [4]:
print(df)

                                        microwaves_name microwaves_reviews  \
0     Hisense Microwave Oven H20MOWS11 700W 20L Digi...              (366)
1     SmartPro 20Ltrs Digital Microwave Oven High Qu...               (17)
2     Roch 20Ltrs Digital Microwave Oven High Qualit...               (46)
3     SmartPro 20Ltrs Digital Microwave Oven High Qu...                (2)
4     CLEARANCE SALE!! Hisense 20L Digital Microwave...                (0)
...                                                 ...                ...
1471  CLEARANCE OFFER Euroken New Arrival EURO55-3+1...                (0)
1472  CLEARANCE OFFER Nunix Free standing auto ignit...                (0)
1473  CLEARANCE OFFER  Volsmart Full Gas Free Standi...                (0)
1474      CLEARANCE OFFER VON 3+1 58*58 standing cooker                (0)
1475  CLEARANCE OFFER Nunix Free Standing 4 Gas Burn...                (0)

     microwaves_price  microwaves_url
0           KSh 8,899             NaN
1           KSh 8,549             NaN
2           KSh 8,499             NaN
3           KSh 8,199             NaN
4           KSh 8,790             NaN
...               ...             ...
1471       KSh 24,999             NaN
1472       KSh 28,999             NaN
1473       KSh 22,999             NaN
1474       KSh 44,999             NaN
1475       KSh 20,999             NaN

[1476 rows x 4 columns]

In [5]:
df_cleaned = df.dropna()

In [6]:
df_cleaned = df.drop_duplicates()
print(df_cleaned.head())

                                     microwaves_name microwaves_reviews  \
0  Hisense Microwave Oven H20MOWS11 700W 20L Digi...              (366)
1  SmartPro 20Ltrs Digital Microwave Oven High Qu...               (17)
2  Roch 20Ltrs Digital Microwave Oven High Qualit...               (46)
3  SmartPro 20Ltrs Digital Microwave Oven High Qu...                (2)
4  CLEARANCE SALE!! Hisense 20L Digital Microwave...                (0)

  microwaves_price  microwaves_url
0        KSh 8,899             NaN
1        KSh 8,549             NaN
2        KSh 8,499             NaN
3        KSh 8,199             NaN
4        KSh 8,790             NaN

In [7]:
df.shape

(1476, 4)

In [8]:
df['microwaves_price']= df['microwaves_price'].str.strip('KSh,')
df

,microwaves_name,microwaves_reviews,microwaves_price,microwaves_url
0,Hisense Microwave Oven H20MOWS11 700W 20L Digi...,(366),"8,899",NaN
1,SmartPro 20Ltrs Digital Microwave Oven High Qu...,(17),"8,549",NaN
2,Roch 20Ltrs Digital Microwave Oven High Qualit...,(46),"8,499",NaN
3,SmartPro 20Ltrs Digital Microwave Oven High Qu...,(2),"8,199",NaN
4,CLEARANCE SALE!! Hisense 20L Digital Microwave...,(0),"8,790",NaN
...,...,...,...,...
1471,CLEARANCE OFFER Euroken New Arrival EURO55-3+1...,(0),"24,999",NaN
1472,CLEARANCE OFFER Nunix Free standing auto ignit...,(0),"28,999",NaN
1473,CLEARANCE OFFER Volsmart Full Gas Free Standi...,(0),"22,999",NaN
1474,CLEARANCE OFFER VON 3+1 58*58 standing cooker,(0),"44,999",NaN
1475,CLEARANCE OFFER Nunix Free Standing 4 Gas Burn...,(0),"20,999",NaN

In [9]:
df['microwaves_reviews'] = df['microwaves_reviews'].str.extract(r'(\d+)').astype(int)
df

,microwaves_name,microwaves_reviews,microwaves_price,microwaves_url
0,Hisense Microwave Oven H20MOWS11 700W 20L Digi...,366,"8,899",NaN
1,SmartPro 20Ltrs Digital Microwave Oven High Qu...,17,"8,549",NaN
2,Roch 20Ltrs Digital Microwave Oven High Qualit...,46,"8,499",NaN
3,SmartPro 20Ltrs Digital Microwave Oven High Qu...,2,"8,199",NaN
4,CLEARANCE SALE!! Hisense 20L Digital Microwave...,0,"8,790",NaN
...,...,...,...,...
1471,CLEARANCE OFFER Euroken New Arrival EURO55-3+1...,0,"24,999",NaN
1472,CLEARANCE OFFER Nunix Free standing auto ignit...,0,"28,999",NaN
1473,CLEARANCE OFFER Volsmart Full Gas Free Standi...,0,"22,999",NaN
1474,CLEARANCE OFFER VON 3+1 58*58 standing cooker,0,"44,999",NaN
1475,CLEARANCE OFFER Nunix Free Standing 4 Gas Burn...,0,"20,999",NaN

In [10]:


# List of unwanted words (make sure all variations are included)
unwanted_words = ['clearance', 'CLEARANCE', 'SALE', 'OFFER', 'Best', 'CHOOSE', 'Offers', 'QUALITY', 'THE', 'FUTURE',
                  'EMBRACE', 'LATEST', 'TREND', 'MEGASALE', 'Buy', 'NOW', 'AND', 'ENJOY', 'UPTO', 'NEW', 'IMPROVED', 
                  'STAY', 'LOCKED', 'WITH', 'STOCK', 'kilimall', 'special', 'MAKE', 'YOUR', 'HOUSE', 'FEEL', 'LIKE', 
                  'Super', 'deal', 'quality', 'RESTOCKED', 'Share', 'this', 'product', 'Best', 'ARRIVALS', 'HURRY', 
                  'AND', 'PICK', 'YOURS', 'LIMITED', 'AN', 'NO', 'OTHER', 'PRICE', 'REDUCED', 'NOWBLACK', 'Angry', 
                  'mama', 'kitchen','EXPERIENCE', 'New', 'Arrival', 'Classy', 'sale', 'offer', 'best', 'discount', 
                  'cheap', 'deal']

# Convert the unwanted_words list to lowercase for case-insensitive comparison
unwanted_words = set(word.lower() for word in unwanted_words)

# Function to remove unwanted words from a text
def remove_unwanted_words(text):
    if not isinstance(text, str):
        return text  # Return as is if not a string
    words = text.split()  # Split the text into individual words
    cleaned_words = [word for word in words if word.lower() not in unwanted_words]  # Filter out unwanted words
    return ' '.join(cleaned_words)  # Join the cleaned words back into a string

file_path =(r"C:\Users\Vivian.Obino1\Desktop\e-commerce analysis\data\scraped\kilimall_scraped_microwaves.csv") # Replace with your actual file path
df = pd.read_csv(file_path)

# Apply the function to the relevant column (e.g., 'microwaves_name')
df['microwaves_name'] = df['microwaves_name'].apply(remove_unwanted_words)

# Save the updated DataFrame to a new CSV file
output_file_path = 'kilimall_clean_microwaves.csv'
df.to_csv(output_file_path, index=False)

In [11]:


# Load the CSV file into a DataFrame
file_path = 'kilimall_clean_microwaves.csv'  # Replace with your CSV file path
df = pd.read_csv(file_path)

# Function to clean text
def clean_text(text):
    # Remove punctuation, emojis, and parentheses
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation
    text = re.sub(r'\s*\([^)]*\)\s*', '', text)  # Remove parentheses and their content
    text = re.sub(r'[^\x00-\x7F]+', '', text)  # Remove emojis and non-ASCII characters
    return text.strip()
  
# Extract brand name and clean it
def extract_brand_name(text):
    words = clean_text(text).split()[:5]  # Get first five words
    return ' '.join(words)
def extract_capacity(text):
    if not isinstance(text, str):
        return None
    match = re.search(r'\b\d+\.?\d*\s*(L|Ltrs|Liters|Litres)\b', text, re.IGNORECASE)
    return match.group(0) if match else None
def remove_parentheses(text):
    if not isinstance(text, str):
        return text
    return re.sub(r'\s*\([^)]*\)\s*', '', text)

# Apply the function to the 'microwave_reviews' column


# Apply the brand name extraction
df['microwaves_name'] = df['microwaves_name'].apply(extract_brand_name)  # Replace 'ColumnName' with the relevant column name
df['Capacity'] = df['microwaves_name'].apply(extract_capacity) 
# Lines to remove
lines_to_remove = [*range(12, 19), 83, 84, 127, 128, 131, *range(155, 160), *range(608, 624), 
                   *range(652, 658), *range(675, 683), *range(686, 692), 461, 463, *range(187, 197), 
                   *range(257, 267), 275, 342, 343, *range(769, 806), *range(832, 839)]

# Drop specified rows (subtract 1 to account for zero-based index in Python)
df.drop(index=[i-1 for i in lines_to_remove], inplace=True, errors='ignore')
# Rename the columns
df.columns = ['brand', 'reviews', 'price', 'microwaves_url','capacity']   
# Save the cleaned DataFrame to a new CSV file
output_file_path = 'kilimall_clean_microwaves.csv'
df.to_csv(output_file_path, index=False)

print("Data processing complete. Cleaned file saved as:", output_file_path)

Data processing complete. Cleaned file saved as: kilimall_clean_microwaves.csv

In [12]:
df

,brand,reviews,price,microwaves_url,capacity
0,Hisense Microwave Oven H20MOWS11 700W,(366),"KSh 8,899",NaN,None
1,SmartPro 20Ltrs Digital Microwave Oven,(17),"KSh 8,549",NaN,20Ltrs
2,Roch 20Ltrs Digital Microwave Oven,(46),"KSh 8,499",NaN,20Ltrs
3,SmartPro 20Ltrs Digital Microwave Oven,(2),"KSh 8,199",NaN,20Ltrs
4,SALE Hisense 20L Digital Microwave,(0),"KSh 8,790",NaN,20L
...,...,...,...,...,...
1471,Euroken EURO5531E Electric OVEN Free,(0),"KSh 24,999",NaN,None
1472,Nunix Free standing auto ignition,(0),"KSh 28,999",NaN,None
1473,Volsmart Full Gas Free Standing,(0),"KSh 22,999",NaN,None
1474,VON 31 5858 standing cooker,(0),"KSh 44,999",NaN,None
1475,Nunix Free Standing 4 Gas,(0),"KSh 20,999",NaN,None

In [13]:
df['price']= df['price'].str.strip('KSh,')
df

,brand,reviews,price,microwaves_url,capacity
0,Hisense Microwave Oven H20MOWS11 700W,(366),"8,899",NaN,None
1,SmartPro 20Ltrs Digital Microwave Oven,(17),"8,549",NaN,20Ltrs
2,Roch 20Ltrs Digital Microwave Oven,(46),"8,499",NaN,20Ltrs
3,SmartPro 20Ltrs Digital Microwave Oven,(2),"8,199",NaN,20Ltrs
4,SALE Hisense 20L Digital Microwave,(0),"8,790",NaN,20L
...,...,...,...,...,...
1471,Euroken EURO5531E Electric OVEN Free,(0),"24,999",NaN,None
1472,Nunix Free standing auto ignition,(0),"28,999",NaN,None
1473,Volsmart Full Gas Free Standing,(0),"22,999",NaN,None
1474,VON 31 5858 standing cooker,(0),"44,999",NaN,None
1475,Nunix Free Standing 4 Gas,(0),"20,999",NaN,None

In [14]:
def retain_text_in_parentheses(text):
    if not isinstance(text, str):
        return text  # Return as is if not a string
    return re.sub(r'[()]', '', text)  # Remove only parentheses

# Apply the function to the desired column
df['reviews'] = df['reviews'].apply(retain_text_in_parentheses)
df

,brand,reviews,price,microwaves_url,capacity
0,Hisense Microwave Oven H20MOWS11 700W,366,"8,899",NaN,None
1,SmartPro 20Ltrs Digital Microwave Oven,17,"8,549",NaN,20Ltrs
2,Roch 20Ltrs Digital Microwave Oven,46,"8,499",NaN,20Ltrs
3,SmartPro 20Ltrs Digital Microwave Oven,2,"8,199",NaN,20Ltrs
4,SALE Hisense 20L Digital Microwave,0,"8,790",NaN,20L
...,...,...,...,...,...
1471,Euroken EURO5531E Electric OVEN Free,0,"24,999",NaN,None
1472,Nunix Free standing auto ignition,0,"28,999",NaN,None
1473,Volsmart Full Gas Free Standing,0,"22,999",NaN,None
1474,VON 31 5858 standing cooker,0,"44,999",NaN,None
1475,Nunix Free Standing 4 Gas,0,"20,999",NaN,None

In [15]:
df['price'] = df['price'].replace({',': ''}, regex=True)

df['price'] = pd.to_numeric(df['price'])

In [16]:
df.to_csv(r'C:\Users\Vivian.Obino1\Desktop\e-commerce analysis\scripts\kilimall_clean_microwaves.csv', sep=',', index=False, encoding='utf-8')

In [17]:
words_to_remove = [
    'SPECIAL','OFFERS','OFFER','CLEARANCE','Quality'
]
df = pd.read_csv('kilimall_clean_microwaves.csv')  

# Create a regex pattern to match any of the words in the list
pattern = r'\b(?:' + '|'.join(map(re.escape, words_to_remove)) + r')\b'
df['brand'] = df['brand'].str.replace(pattern, '', regex=True).str.strip()

#save the cleaned DataFrame to a new CSV file
df.to_csv('kilimall_clean_phones.csv', index=False)