## Laptops Data.

In [4]:
# Import libraries
import pandas as pd
import re

In [4]:
# Data loading
laptops_df = pd.read_csv("./data/laptops.csv")
laptops_df.head()

,Name,Price,Reviews,Ratings
0,"HP Refurbished EliteBook 640GB HDD, 8GB RAM, ...","KSh 20,300",3.7 out of 5(13),3.7 out of 5
1,"HP Refurbished EliteBook 820 Core I5, 8GB RAM ...","KSh 16,499",5 out of 5(1),5 out of 5
2,Lenovo ThinkPad T490 Touchscreen Core I5 -8th ...,"KSh 27,999",4 out of 5(9),4 out of 5
3,HP Refurbished EliteBook 840 G3 Intel Core I5 ...,"KSh 23,500",4 out of 5(1),4 out of 5
4,HP GAMING-LAPTOP -HP ELITEBOOK 755 AMD RYZEN 7...,"KSh 35,000",4.4 out of 5(9),4.4 out of 5

In [2]:
# Fridges data
fridge = pd.read_csv("./fridges.csv")
fridge.head(5)

,Name,Price,Reviews,Ratings
0,Ramtons RF/335 - 85L Single Door Refrigerator ...,"KSh 15,999",4.1 out of 5(66),4.1 out of 5
1,Hisense 94 Liters Single Door Fridge REF094DR ...,"KSh 16,799",4.3 out of 5(89),4.3 out of 5
2,"Ramtons RF/203, 2 Door Direct Cool Fridge, 128...","KSh 28,099",4.2 out of 5(69),4.2 out of 5
3,Roch RFR-120S-I Single Door Refrigerator - 90 ...,"KSh 16,299",4.2 out of 5(478),4.2 out of 5
4,Nunix 138L Double Door Fridge Energy Efficient...,"KSh 27,500",3.9 out of 5(149),3.9 out of 5

In [ ]:
# Extract brand name and model
def extract_brand_and_model(name):
    match = re.match(r"([A-Za-z]+(?: [A-Za-z]+)*)(?:\s[RF|REF|FM|DF|D|]{2,4}[\d]+)?", name)
    if match:
        return match.group(1).strip()
    return

# Extract size in litres
def extract_size(name):
    match = re.search(r'(\d+)\s*Liters?', name)
    if match:
        return int(match.group(1))
    return None